$color-activity: #333333;
$color-font: #cccccc;
$color-sidebar: #252526;
$color-title: #bbbbbb;
$color-editor: #1e1e1e;
$color-titlebar: #3c3c3c;
$color-editorBottom-top: #80808059;
$color-statusbar: #007acc;
$color-statusbar-font: #ffffff;
$color-scrollbar-thumb: #48484859;
$color-opacity: #fff0;
$color-tab: #2d2d2d;
