$color-font: #cccccc;
$color-title: #bbbbbb;
$color-sash: #80808059;
$color-statusbar-font: #ffffff;
$color-opacity: #fff0;
$color-drop: #9da5b4;
$color-active: #00a9ff;

$color-editor: #282c34;
$color-titlebar: #282c34;
$color-activity: #282c34;
$color-sidebar-hover: #282c34;
$color-scrollbar-thumb: #21252b;
$color-sidebar: #21252b;
$color-statusbar: #21252b;
$color-tab: #21252b;


//$color-editor: #1e1e1e;
//$color-titlebar: #3c3c3c;
//$color-activity: #333333;
//$color-sidebar-hover: #1e1e1e;
//$color-scrollbar-thumb: #48484859;
//$color-sidebar: #252526;
//$color-statusbar: #007acc;
//$color-tab: #2d2d2d;
