$size-min-width: 768px;
$size-activitybar-width: 50px;
$size-titlebar-height: 30px;
$size-title-height: 35px;
$size-title-lineHeight: 27px;
$size-font: 11px;
$size-sash: 5px;
$size-statusbar-height: 22px;
$size-scrollbar: 8px;
$size-tab-max-width: 200px;
