$size-min-width: 768px;
$size-activity-bar-width: 50px;
$size-title-bar-height: 30px;
$size-title-height: 35px;
$size-title-lineHeight: 27px;
$size_view-tab-height: 31px;
$size-font: 11px;
$size-sash: 5px;
$size-statusbar-height: 22px;
$size-scrollbar: 8px;
$size-tab-max-width: 200px;
$size-tree-height: 22px;
